@model SSFInventory.Models.Categories

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatgNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatgNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatgDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatgDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
